body{
    background-color: black;
    color: white;
    
    
    
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button{
    background-color: transparent;
    color: white;
    font-size: large;
    border-color: transparent;
    outline-color: transparent;
    padding: 10px;
    cursor: pointer;
}
input{
    background-color: transparent;
    color: white;
    padding: 10px;
    border-color: transparent;
    outline-color: transparent;  
    border-bottom-color: gray;
    transition: 0.3s;
    font-size: medium;
    width: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2{
    margin-top: 20%;
}
input:focus,
button:focus {
    outline: none;
}

input:focus{
    border-bottom-color: white;
    border-bottom-width: 3.1px;
}

input:hover{
    border-bottom-color: white;
    border-bottom-width: 3px;
}